.span_1_of_10 {
  width: 8.56%;
}
.span_2_of_10 {
  width: 18.72%;
}
.span_3_of_10 {
  width: 28.88%;
}
.span_4_of_10 {
  width: 39.04%;
}
.span_5_of_10 {
  width: 49.2%;
}
.span_6_of_10 {
  width: 59.36%;
}
.span_7_of_10 {
  width: 69.52%;
}
.span_8_of_10 {
  width: 79.68%;
}
.span_9_of_10 {
  width: 89.84%;
}
.span_10_of_10 {
  width: 100%;
}
.col.offset_1_of_10 {
  margin-left: 9.576%;
}
.col.offset_2_of_10 {
  margin-left: 19.736%;
}
.col.offset_3_of_10 {
  margin-left: 29.896%;
}
.col.offset_4_of_10 {
  margin-left: 40.056%;
}
.col.offset_5_of_10 {
  margin-left: 50.216%;
}
.col.offset_6_of_10 {
  margin-left: 60.376%;
}
.col.offset_7_of_10 {
  margin-left: 70.536%;
}
.col.offset_8_of_10 {
  margin-left: 80.696%;
}
.col.offset_9_of_10 {
  margin-left: 90.856%;
}
.col.offset_10_of_10 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_10_of_10,
  .span_9_of_10,
  .span_8_of_10,
  .span_7_of_10,
  .span_6_of_10,
  .span_5_of_10,
  .span_4_of_10,
  .span_3_of_10,
  .span_2_of_10,
  .span_1_of_10 {
    width: 100%;
  }
  .col.offset_10_of_10,
  .col.offset_9_of_10,
  .col.offset_8_of_10,
  .col.offset_7_of_10,
  .col.offset_6_of_10,
  .col.offset_5_of_10,
  .col.offset_4_of_10,
  .col.offset_3_of_10,
  .col.offset_2_of_10,
  .col.offset_1_of_10 {
    margin: 1% 0 1% 0;
  }
}
