.span_1_of_11 {
  width: 7.63636364%;
}
.span_2_of_11 {
  width: 16.87272727%;
}
.span_3_of_11 {
  width: 26.10909091%;
}
.span_4_of_11 {
  width: 35.34545455%;
}
.span_5_of_11 {
  width: 44.58181818%;
}
.span_6_of_11 {
  width: 53.81818182%;
}
.span_7_of_11 {
  width: 63.05454545%;
}
.span_8_of_11 {
  width: 72.29090909%;
}
.span_9_of_11 {
  width: 81.52727273%;
}
.span_10_of_11 {
  width: 90.76363636%;
}
.span_11_of_11 {
  width: 100%;
}
.col.offset_1_of_11 {
  margin-left: 9.23636364%;
}
.col.offset_2_of_11 {
  margin-left: 18.47272727%;
}
.col.offset_3_of_11 {
  margin-left: 27.70909091%;
}
.col.offset_4_of_11 {
  margin-left: 36.94545455%;
}
.col.offset_5_of_11 {
  margin-left: 46.18181818%;
}
.col.offset_6_of_11 {
  margin-left: 55.41818182%;
}
.col.offset_7_of_11 {
  margin-left: 64.65454545%;
}
.col.offset_8_of_11 {
  margin-left: 73.89090909%;
}
.col.offset_9_of_11 {
  margin-left: 83.12727273%;
}
.col.offset_10_of_11 {
  margin-left: 92.36363636%;
}
.col.offset_11_of_11 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_11_of_11,
  .span_10_of_11,
  .span_9_of_11,
  .span_8_of_11,
  .span_7_of_11,
  .span_6_of_11,
  .span_5_of_11,
  .span_4_of_11,
  .span_3_of_11,
  .span_2_of_11,
  .span_1_of_11 {
    width: 100%;
  }
  .col.offset_11_of_11,
  .col.offset_10_of_11,
  .col.offset_9_of_11,
  .col.offset_8_of_11,
  .col.offset_7_of_11,
  .col.offset_6_of_11,
  .col.offset_5_of_11,
  .col.offset_4_of_11,
  .col.offset_3_of_11,
  .col.offset_2_of_11,
  .col.offset_1_of_11 {
    margin: 1% 0 1% 0;
  }
}
