.span_1_of_12 {
  width: 6.86666667%;
}
.span_2_of_12 {
  width: 15.33333333%;
}
.span_3_of_12 {
  width: 23.8%;
}
.span_4_of_12 {
  width: 32.26666667%;
}
.span_5_of_12 {
  width: 40.73333333%;
}
.span_6_of_12 {
  width: 49.2%;
}
.span_7_of_12 {
  width: 57.66666667%;
}
.span_8_of_12 {
  width: 66.13333333%;
}
.span_9_of_12 {
  width: 74.6%;
}
.span_10_of_12 {
  width: 83.06666667%;
}
.span_11_of_12 {
  width: 91.53333333%;
}
.span_12_of_12 {
  width: 100%;
}
.col.offset_1_of_12 {
  margin-left: 7.88266667%;
}
.col.offset_2_of_12 {
  margin-left: 16.34933333%;
}
.col.offset_3_of_12 {
  margin-left: 24.816%;
}
.col.offset_4_of_12 {
  margin-left: 33.28266667%;
}
.col.offset_5_of_12 {
  margin-left: 41.74933333%;
}
.col.offset_6_of_12 {
  margin-left: 50.216%;
}
.col.offset_7_of_12 {
  margin-left: 58.68266667%;
}
.col.offset_8_of_12 {
  margin-left: 67.14933333%;
}
.col.offset_9_of_12 {
  margin-left: 75.616%;
}
.col.offset_10_of_12 {
  margin-left: 84.08266667%;
}
.col.offset_11_of_12 {
  margin-left: 92.54933333%;
}
.col.offset_12_of_12 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_12_of_12,
  .span_11_of_12,
  .span_10_of_12,
  .span_9_of_12,
  .span_8_of_12,
  .span_7_of_12,
  .span_6_of_12,
  .span_5_of_12,
  .span_4_of_12,
  .span_3_of_12,
  .span_2_of_12,
  .span_1_of_12 {
    width: 100%;
  }
  .col.offset_12_of_12,
  .col.offset_11_of_12,
  .col.offset_10_of_12,
  .col.offset_9_of_12,
  .col.offset_8_of_12,
  .col.offset_7_of_12,
  .col.offset_6_of_12,
  .col.offset_5_of_12,
  .col.offset_4_of_12,
  .col.offset_3_of_12,
  .col.offset_2_of_12,
  .col.offset_1_of_12 {
    margin: 1% 0 1% 0;
  }
}
