.span_1_of_13 {
  width: 6.21538462%;
}
.span_2_of_13 {
  width: 14.03076923%;
}
.span_3_of_13 {
  width: 21.84615385%;
}
.span_4_of_13 {
  width: 29.66153846%;
}
.span_5_of_13 {
  width: 37.47692308%;
}
.span_6_of_13 {
  width: 45.29230769%;
}
.span_7_of_13 {
  width: 53.10769231%;
}
.span_8_of_13 {
  width: 60.92307692%;
}
.span_9_of_13 {
  width: 68.73846154%;
}
.span_10_of_13 {
  width: 76.55384615%;
}
.span_11_of_13 {
  width: 84.36923077%;
}
.span_12_of_13 {
  width: 92.18461538%;
}
.span_13_of_13 {
  width: 100%;
}
.col.offset_1_of_13 {
  margin-left: 7.23138462%;
}
.col.offset_2_of_13 {
  margin-left: 15.04676923%;
}
.col.offset_3_of_13 {
  margin-left: 22.86215385%;
}
.col.offset_4_of_13 {
  margin-left: 30.67753846%;
}
.col.offset_5_of_13 {
  margin-left: 38.49292308%;
}
.col.offset_6_of_13 {
  margin-left: 46.30830769%;
}
.col.offset_7_of_13 {
  margin-left: 54.12369231%;
}
.col.offset_8_of_13 {
  margin-left: 61.93907692%;
}
.col.offset_9_of_13 {
  margin-left: 69.75446154%;
}
.col.offset_10_of_13 {
  margin-left: 77.56984615%;
}
.col.offset_11_of_13 {
  margin-left: 85.38523077%;
}
.col.offset_12_of_13 {
  margin-left: 93.20061538%;
}
.col.offset_13_of_13 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_13_of_13,
  .span_12_of_13,
  .span_11_of_13,
  .span_10_of_13,
  .span_9_of_13,
  .span_8_of_13,
  .span_7_of_13,
  .span_6_of_13,
  .span_5_of_13,
  .span_4_of_13,
  .span_3_of_13,
  .span_2_of_13,
  .span_1_of_13 {
    width: 100%;
  }
  .col.offset_13_of_13,
  .col.offset_12_of_13,
  .col.offset_11_of_13,
  .col.offset_10_of_13,
  .col.offset_9_of_13,
  .col.offset_8_of_13,
  .col.offset_7_of_13,
  .col.offset_6_of_13,
  .col.offset_5_of_13,
  .col.offset_4_of_13,
  .col.offset_3_of_13,
  .col.offset_2_of_13,
  .col.offset_1_of_13 {
    margin: 1% 0 1% 0;
  }
}
