.span_1_of_14 {
  width: 5.65714286%;
}
.span_2_of_14 {
  width: 12.91428571%;
}
.span_3_of_14 {
  width: 20.17142857%;
}
.span_4_of_14 {
  width: 27.42857143%;
}
.span_5_of_14 {
  width: 34.68571429%;
}
.span_6_of_14 {
  width: 41.94285714%;
}
.span_7_of_14 {
  width: 49.2%;
}
.span_8_of_14 {
  width: 56.45714286%;
}
.span_9_of_14 {
  width: 63.71428571%;
}
.span_10_of_14 {
  width: 70.97142857%;
}
.span_11_of_14 {
  width: 78.22857143%;
}
.span_12_of_14 {
  width: 85.48571429%;
}
.span_13_of_14 {
  width: 92.74285714%;
}
.span_14_of_14 {
  width: 100%;
}
.col.offset_1_of_14 {
  margin-left: 6.67314286%;
}
.col.offset_2_of_14 {
  margin-left: 13.93028571%;
}
.col.offset_3_of_14 {
  margin-left: 21.18742857%;
}
.col.offset_4_of_14 {
  margin-left: 28.44457143%;
}
.col.offset_5_of_14 {
  margin-left: 35.70171429%;
}
.col.offset_6_of_14 {
  margin-left: 42.95885714%;
}
.col.offset_7_of_14 {
  margin-left: 50.216%;
}
.col.offset_8_of_14 {
  margin-left: 57.47314286%;
}
.col.offset_9_of_14 {
  margin-left: 64.73028571%;
}
.col.offset_10_of_14 {
  margin-left: 71.98742857%;
}
.col.offset_11_of_14 {
  margin-left: 79.24457143%;
}
.col.offset_12_of_14 {
  margin-left: 86.50171429%;
}
.col.offset_13_of_14 {
  margin-left: 93.75885714%;
}
.col.offset_14_of_14 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_14_of_14,
  .span_13_of_14,
  .span_12_of_14,
  .span_11_of_14,
  .span_10_of_14,
  .span_9_of_14,
  .span_8_of_14,
  .span_7_of_14,
  .span_6_of_14,
  .span_5_of_14,
  .span_4_of_14,
  .span_3_of_14,
  .span_2_of_14,
  .span_1_of_14 {
    width: 100%;
  }
  .col.offset_14_of_14,
  .col.offset_13_of_14,
  .col.offset_12_of_14,
  .col.offset_11_of_14,
  .col.offset_10_of_14,
  .col.offset_9_of_14,
  .col.offset_8_of_14,
  .col.offset_7_of_14,
  .col.offset_6_of_14,
  .col.offset_5_of_14,
  .col.offset_4_of_14,
  .col.offset_3_of_14,
  .col.offset_2_of_14,
  .col.offset_1_of_14 {
    margin: 1% 0 1% 0;
  }
}
