.span_1_of_18 {
  width: 4.04444444%;
}
.span_2_of_18 {
  width: 9.68888889%;
}
.span_3_of_18 {
  width: 15.33333333%;
}
.span_4_of_18 {
  width: 20.97777778%;
}
.span_5_of_18 {
  width: 26.62222222%;
}
.span_6_of_18 {
  width: 32.26666667%;
}
.span_7_of_18 {
  width: 37.91111111%;
}
.span_8_of_18 {
  width: 43.55555556%;
}
.span_9_of_18 {
  width: 49.2%;
}
.span_10_of_18 {
  width: 54.84444444%;
}
.span_11_of_18 {
  width: 60.48888889%;
}
.span_12_of_18 {
  width: 66.13333333%;
}
.span_13_of_18 {
  width: 71.77777778%;
}
.span_14_of_18 {
  width: 77.42222222%;
}
.span_15_of_18 {
  width: 83.06666667%;
}
.span_16_of_18 {
  width: 88.71111111%;
}
.span_17_of_18 {
  width: 94.35555556%;
}
.span_18_of_18 {
  width: 100%;
}
.col.offset_1_of_18 {
  margin-left: 5.64444444%;
}
.col.offset_2_of_18 {
  margin-left: 11.28888889%;
}
.col.offset_3_of_18 {
  margin-left: 16.93333333%;
}
.col.offset_4_of_18 {
  margin-left: 22.57777778%;
}
.col.offset_5_of_18 {
  margin-left: 28.22222222%;
}
.col.offset_6_of_18 {
  margin-left: 33.86666667%;
}
.col.offset_7_of_18 {
  margin-left: 39.51111111%;
}
.col.offset_8_of_18 {
  margin-left: 45.15555556%;
}
.col.offset_9_of_18 {
  margin-left: 50.8%;
}
.col.offset_10_of_18 {
  margin-left: 56.44444444%;
}
.col.offset_11_of_18 {
  margin-left: 62.08888889%;
}
.col.offset_12_of_18 {
  margin-left: 67.73333333%;
}
.col.offset_13_of_18 {
  margin-left: 73.37777778%;
}
.col.offset_14_of_18 {
  margin-left: 79.02222222%;
}
.col.offset_15_of_18 {
  margin-left: 84.66666667%;
}
.col.offset_16_of_18 {
  margin-left: 90.31111111%;
}
.col.offset_17_of_18 {
  margin-left: 95.95555556%;
}
.col.offset_18_of_18 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_18_of_18,
  .span_17_of_18,
  .span_16_of_18,
  .span_15_of_18,
  .span_14_of_18,
  .span_13_of_18,
  .span_12_of_18,
  .span_11_of_18,
  .span_10_of_18,
  .span_9_of_18,
  .span_8_of_18,
  .span_7_of_18,
  .span_6_of_18,
  .span_5_of_18,
  .span_4_of_18,
  .span_3_of_18,
  .span_2_of_18,
  .span_1_of_18 {
    width: 100%;
  }
  .col.offset_18_of_18,
  .col.offset_17_of_18,
  .col.offset_16_of_18,
  .col.offset_15_of_18,
  .col.offset_14_of_18,
  .col.offset_13_of_18,
  .col.offset_12_of_18,
  .col.offset_11_of_18,
  .col.offset_10_of_18,
  .col.offset_9_of_18,
  .col.offset_8_of_18,
  .col.offset_7_of_18,
  .col.offset_6_of_18,
  .col.offset_5_of_18,
  .col.offset_4_of_18,
  .col.offset_3_of_18,
  .col.offset_2_of_18,
  .col.offset_1_of_18 {
    margin: 1% 0 1% 0;
  }
}
