.span_1_of_18 {
  width: 4.04444444%;
}
.span_2_of_18 {
  width: 9.68888889%;
}
.span_3_of_18 {
  width: 15.33333333%;
}
.span_4_of_18 {
  width: 20.97777778%;
}
.span_5_of_18 {
  width: 26.62222222%;
}
.span_6_of_18 {
  width: 32.26666667%;
}
.span_7_of_18 {
  width: 37.91111111%;
}
.span_8_of_18 {
  width: 43.55555556%;
}
.span_9_of_18 {
  width: 49.2%;
}
.span_10_of_18 {
  width: 54.84444444%;
}
.span_11_of_18 {
  width: 60.48888889%;
}
.span_12_of_18 {
  width: 66.13333333%;
}
.span_13_of_18 {
  width: 71.77777778%;
}
.span_14_of_18 {
  width: 77.42222222%;
}
.span_15_of_18 {
  width: 83.06666667%;
}
.span_16_of_18 {
  width: 88.71111111%;
}
.span_17_of_18 {
  width: 94.35555556%;
}
.span_18_of_18 {
  width: 100%;
}
.col.offset_1_of_18 {
  margin-left: 5.06044444%;
}
.col.offset_2_of_18 {
  margin-left: 10.70488889%;
}
.col.offset_3_of_18 {
  margin-left: 16.34933333%;
}
.col.offset_4_of_18 {
  margin-left: 21.99377778%;
}
.col.offset_5_of_18 {
  margin-left: 27.63822222%;
}
.col.offset_6_of_18 {
  margin-left: 33.28266667%;
}
.col.offset_7_of_18 {
  margin-left: 38.92711111%;
}
.col.offset_8_of_18 {
  margin-left: 44.57155556%;
}
.col.offset_9_of_18 {
  margin-left: 50.216%;
}
.col.offset_10_of_18 {
  margin-left: 55.86044444%;
}
.col.offset_11_of_18 {
  margin-left: 61.50488889%;
}
.col.offset_12_of_18 {
  margin-left: 67.14933333%;
}
.col.offset_13_of_18 {
  margin-left: 72.79377778%;
}
.col.offset_14_of_18 {
  margin-left: 78.43822222%;
}
.col.offset_15_of_18 {
  margin-left: 84.08266667%;
}
.col.offset_16_of_18 {
  margin-left: 89.72711111%;
}
.col.offset_17_of_18 {
  margin-left: 95.37155556%;
}
.col.offset_18_of_18 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_18_of_18,
  .span_17_of_18,
  .span_16_of_18,
  .span_15_of_18,
  .span_14_of_18,
  .span_13_of_18,
  .span_12_of_18,
  .span_11_of_18,
  .span_10_of_18,
  .span_9_of_18,
  .span_8_of_18,
  .span_7_of_18,
  .span_6_of_18,
  .span_5_of_18,
  .span_4_of_18,
  .span_3_of_18,
  .span_2_of_18,
  .span_1_of_18 {
    width: 100%;
  }
  .col.offset_18_of_18,
  .col.offset_17_of_18,
  .col.offset_16_of_18,
  .col.offset_15_of_18,
  .col.offset_14_of_18,
  .col.offset_13_of_18,
  .col.offset_12_of_18,
  .col.offset_11_of_18,
  .col.offset_10_of_18,
  .col.offset_9_of_18,
  .col.offset_8_of_18,
  .col.offset_7_of_18,
  .col.offset_6_of_18,
  .col.offset_5_of_18,
  .col.offset_4_of_18,
  .col.offset_3_of_18,
  .col.offset_2_of_18,
  .col.offset_1_of_18 {
    margin: 1% 0 1% 0;
  }
}
