.span_1_of_19 {
  width: 3.74736842%;
}
.span_2_of_19 {
  width: 9.09473684%;
}
.span_3_of_19 {
  width: 14.44210526%;
}
.span_4_of_19 {
  width: 19.78947368%;
}
.span_5_of_19 {
  width: 25.13684211%;
}
.span_6_of_19 {
  width: 30.48421053%;
}
.span_7_of_19 {
  width: 35.83157895%;
}
.span_8_of_19 {
  width: 41.17894737%;
}
.span_9_of_19 {
  width: 46.52631579%;
}
.span_10_of_19 {
  width: 51.87368421%;
}
.span_11_of_19 {
  width: 57.22105263%;
}
.span_12_of_19 {
  width: 62.56842105%;
}
.span_13_of_19 {
  width: 67.91578947%;
}
.span_14_of_19 {
  width: 73.26315789%;
}
.span_15_of_19 {
  width: 78.61052632%;
}
.span_16_of_19 {
  width: 83.95789474%;
}
.span_17_of_19 {
  width: 89.30526316%;
}
.span_18_of_19 {
  width: 94.65263158%;
}
.span_19_of_19 {
  width: 100%;
}
.col.offset_1_of_19 {
  margin-left: 4.76336842%;
}
.col.offset_2_of_19 {
  margin-left: 10.11073684%;
}
.col.offset_3_of_19 {
  margin-left: 15.45810526%;
}
.col.offset_4_of_19 {
  margin-left: 20.80547368%;
}
.col.offset_5_of_19 {
  margin-left: 26.15284211%;
}
.col.offset_6_of_19 {
  margin-left: 31.50021053%;
}
.col.offset_7_of_19 {
  margin-left: 36.84757895%;
}
.col.offset_8_of_19 {
  margin-left: 42.19494737%;
}
.col.offset_9_of_19 {
  margin-left: 47.54231579%;
}
.col.offset_10_of_19 {
  margin-left: 52.88968421%;
}
.col.offset_11_of_19 {
  margin-left: 58.23705263%;
}
.col.offset_12_of_19 {
  margin-left: 63.58442105%;
}
.col.offset_13_of_19 {
  margin-left: 68.93178947%;
}
.col.offset_14_of_19 {
  margin-left: 74.27915789%;
}
.col.offset_15_of_19 {
  margin-left: 79.62652632%;
}
.col.offset_16_of_19 {
  margin-left: 84.97389474%;
}
.col.offset_17_of_19 {
  margin-left: 90.32126316%;
}
.col.offset_18_of_19 {
  margin-left: 95.66863158%;
}
.col.offset_19_of_19 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_19_of_19,
  .span_18_of_19,
  .span_17_of_19,
  .span_16_of_19,
  .span_15_of_19,
  .span_14_of_19,
  .span_13_of_19,
  .span_12_of_19,
  .span_11_of_19,
  .span_10_of_19,
  .span_9_of_19,
  .span_8_of_19,
  .span_7_of_19,
  .span_6_of_19,
  .span_5_of_19,
  .span_4_of_19,
  .span_3_of_19,
  .span_2_of_19,
  .span_1_of_19 {
    width: 100%;
  }
  .col.offset_19_of_19,
  .col.offset_18_of_19,
  .col.offset_17_of_19,
  .col.offset_16_of_19,
  .col.offset_15_of_19,
  .col.offset_14_of_19,
  .col.offset_13_of_19,
  .col.offset_12_of_19,
  .col.offset_11_of_19,
  .col.offset_10_of_19,
  .col.offset_9_of_19,
  .col.offset_8_of_19,
  .col.offset_7_of_19,
  .col.offset_6_of_19,
  .col.offset_5_of_19,
  .col.offset_4_of_19,
  .col.offset_3_of_19,
  .col.offset_2_of_19,
  .col.offset_1_of_19 {
    margin: 1% 0 1% 0;
  }
}
