.span_1_of_20 {
  width: 3.48%;
}
.span_2_of_20 {
  width: 8.56%;
}
.span_3_of_20 {
  width: 13.64%;
}
.span_4_of_20 {
  width: 18.72%;
}
.span_5_of_20 {
  width: 23.8%;
}
.span_6_of_20 {
  width: 28.88%;
}
.span_7_of_20 {
  width: 33.96%;
}
.span_8_of_20 {
  width: 39.04%;
}
.span_9_of_20 {
  width: 44.12%;
}
.span_10_of_20 {
  width: 49.2%;
}
.span_11_of_20 {
  width: 54.28%;
}
.span_12_of_20 {
  width: 59.36%;
}
.span_13_of_20 {
  width: 64.44%;
}
.span_14_of_20 {
  width: 69.52%;
}
.span_15_of_20 {
  width: 74.6%;
}
.span_16_of_20 {
  width: 79.68%;
}
.span_17_of_20 {
  width: 84.76%;
}
.span_18_of_20 {
  width: 89.84%;
}
.span_19_of_20 {
  width: 94.92%;
}
.span_20_of_20 {
  width: 100%;
}
.col.offset_1_of_20 {
  margin-left: 5.08%;
}
.col.offset_2_of_20 {
  margin-left: 10.16%;
}
.col.offset_3_of_20 {
  margin-left: 15.24%;
}
.col.offset_4_of_20 {
  margin-left: 20.32%;
}
.col.offset_5_of_20 {
  margin-left: 25.4%;
}
.col.offset_6_of_20 {
  margin-left: 30.48%;
}
.col.offset_7_of_20 {
  margin-left: 35.56%;
}
.col.offset_8_of_20 {
  margin-left: 40.64%;
}
.col.offset_9_of_20 {
  margin-left: 45.72%;
}
.col.offset_10_of_20 {
  margin-left: 50.8%;
}
.col.offset_11_of_20 {
  margin-left: 55.88%;
}
.col.offset_12_of_20 {
  margin-left: 60.96%;
}
.col.offset_13_of_20 {
  margin-left: 66.04%;
}
.col.offset_14_of_20 {
  margin-left: 71.12%;
}
.col.offset_15_of_20 {
  margin-left: 76.2%;
}
.col.offset_16_of_20 {
  margin-left: 81.28%;
}
.col.offset_17_of_20 {
  margin-left: 86.36%;
}
.col.offset_18_of_20 {
  margin-left: 91.44%;
}
.col.offset_19_of_20 {
  margin-left: 96.52%;
}
.col.offset_20_of_20 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_20_of_20,
  .span_19_of_20,
  .span_18_of_20,
  .span_17_of_20,
  .span_16_of_20,
  .span_15_of_20,
  .span_14_of_20,
  .span_13_of_20,
  .span_12_of_20,
  .span_11_of_20,
  .span_10_of_20,
  .span_9_of_20,
  .span_8_of_20,
  .span_7_of_20,
  .span_6_of_20,
  .span_5_of_20,
  .span_4_of_20,
  .span_3_of_20,
  .span_2_of_20,
  .span_1_of_20 {
    width: 100%;
  }
  .col.offset_20_of_20,
  .col.offset_19_of_20,
  .col.offset_18_of_20,
  .col.offset_17_of_20,
  .col.offset_16_of_20,
  .col.offset_15_of_20,
  .col.offset_14_of_20,
  .col.offset_13_of_20,
  .col.offset_12_of_20,
  .col.offset_11_of_20,
  .col.offset_10_of_20,
  .col.offset_9_of_20,
  .col.offset_8_of_20,
  .col.offset_7_of_20,
  .col.offset_6_of_20,
  .col.offset_5_of_20,
  .col.offset_4_of_20,
  .col.offset_3_of_20,
  .col.offset_2_of_20,
  .col.offset_1_of_20 {
    margin: 1% 0 1% 0;
  }
}
