.span_1_of_2 {
  width: 49.2%;
}
.span_2_of_2 {
  width: 100%;
}
.col.offset_1_of_2 {
  margin-left: 50.216%;
}
.col.offset_2_of_2 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_2_of_2,
  .span_1_of_2 {
    width: 100%;
  }
  .col.offset_2_of_2,
  .col.offset_1_of_2 {
    margin: 1% 0 1% 0;
  }
}
