.span_1_of_3 {
  width: 32.26666667%;
}
.span_2_of_3 {
  width: 66.13333333%;
}
.span_3_of_3 {
  width: 100%;
}
.col.offset_1_of_3 {
  margin-left: 33.86666667%;
}
.col.offset_2_of_3 {
  margin-left: 67.73333333%;
}
.col.offset_3_of_3 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3 {
    width: 100%;
  }
  .col.offset_3_of_3,
  .col.offset_2_of_3,
  .col.offset_1_of_3 {
    margin: 1% 0 1% 0;
  }
}
