.span_1_of_7 {
  width: 12.91428571%;
}
.span_2_of_7 {
  width: 27.42857143%;
}
.span_3_of_7 {
  width: 41.94285714%;
}
.span_4_of_7 {
  width: 56.45714286%;
}
.span_5_of_7 {
  width: 70.97142857%;
}
.span_6_of_7 {
  width: 85.48571429%;
}
.span_7_of_7 {
  width: 100%;
}
.col.offset_1_of_7 {
  margin-left: 14.51428571%;
}
.col.offset_2_of_7 {
  margin-left: 29.02857143%;
}
.col.offset_3_of_7 {
  margin-left: 43.54285714%;
}
.col.offset_4_of_7 {
  margin-left: 58.05714286%;
}
.col.offset_5_of_7 {
  margin-left: 72.57142857%;
}
.col.offset_6_of_7 {
  margin-left: 87.08571429%;
}
.col.offset_7_of_7 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_7_of_7,
  .span_6_of_7,
  .span_5_of_7,
  .span_4_of_7,
  .span_3_of_7,
  .span_2_of_7,
  .span_1_of_7 {
    width: 100%;
  }
  .col.offset_7_of_7,
  .col.offset_6_of_7,
  .col.offset_5_of_7,
  .col.offset_4_of_7,
  .col.offset_3_of_7,
  .col.offset_2_of_7,
  .col.offset_1_of_7 {
    margin: 1% 0 1% 0;
  }
}
