.span_1_of_8 {
  width: 11.1%;
}
.span_2_of_8 {
  width: 23.8%;
}
.span_3_of_8 {
  width: 36.5%;
}
.span_4_of_8 {
  width: 49.2%;
}
.span_5_of_8 {
  width: 61.9%;
}
.span_6_of_8 {
  width: 74.6%;
}
.span_7_of_8 {
  width: 87.3%;
}
.span_8_of_8 {
  width: 100%;
}
.col.offset_1_of_8 {
  margin-left: 12.116%;
}
.col.offset_2_of_8 {
  margin-left: 24.816%;
}
.col.offset_3_of_8 {
  margin-left: 37.516%;
}
.col.offset_4_of_8 {
  margin-left: 50.216%;
}
.col.offset_5_of_8 {
  margin-left: 62.916%;
}
.col.offset_6_of_8 {
  margin-left: 75.616%;
}
.col.offset_7_of_8 {
  margin-left: 88.316%;
}
.col.offset_8_of_8 {
  margin-left: 100%;
}
/*  GO FULL WIDTH  */
@media only screen and (max-width: 480px) {
  .span_8_of_8,
  .span_7_of_8,
  .span_6_of_8,
  .span_5_of_8,
  .span_4_of_8,
  .span_3_of_8,
  .span_2_of_8,
  .span_1_of_8 {
    width: 100%;
  }
  .col.offset_8_of_8,
  .col.offset_7_of_8,
  .col.offset_6_of_8,
  .col.offset_5_of_8,
  .col.offset_4_of_8,
  .col.offset_3_of_8,
  .col.offset_2_of_8,
  .col.offset_1_of_8 {
    margin: 1% 0 1% 0;
  }
}
